img.cp_logo_image {
    float: left;
    padding: 0px 0px 0;
}

#title{
height: 67px;
text-indent: -9999px !important;
}

#title a {
display: block;
height: 67px;
}

#tagline{
height: 0px;
text-indent: -9999px !important;
}


h1, h2, h3, h4, h5, h6 {text-transform: none;}
#toc_sidebar .sidebar_minimiser ul#toc_list li.current_page_ancestor > a, #toc_sidebar .sidebar_minimiser ul#toc_list li.current_page_item > a, #toc_sidebar .sidebar_minimiser ul#nav li.active_page > a {background-color: #FFFF99;}